  /* :: 16.0 Breadcumb Area CSS */
  .breadcrumb-area {
    width: 100%;
    padding-top: 90px;
  }
  .breadcrumb-area .breadcrumb {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    background-color: transparent;
  }
  .breadcrumb-area .breadcrumb .breadcrumb-item {
    font-size: 15px;
    color: #959595;
    font-weight: 600;
  }
  .breadcrumb-area .breadcrumb .breadcrumb-item a {
    font-size: 15px;
    color: #1f1f2c;
    font-weight: 600;
  }
  .breadcrumb-area .breadcrumb .breadcrumb-item a:hover,
  .breadcrumb-area .breadcrumb .breadcrumb-item a:focus {
    color: rgb(44, 2, 44);
  }
  
  .sermons-details-area {
    position: relative;
  }
  .sermons-details-area .single-post-details-area {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 80px;
  }
  
  .single-post-details-area {
    position: relative;
    margin-bottom: 50px;
  }
  .single-post-details-area img {
    width: 100%;
  }
  .single-post-details-area .post-content .post-title {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 600;
  }
  
  .single-widget-area .crose-catagories {
    position: relative;
    z-index: 1;
  }
  .single-widget-area .crose-catagories li a {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1;
    color: #636363;
  }
  .single-widget-area .crose-catagories li a:hover {
    color: rgb(44, 2, 44);
  }
  .single-widget-area .crose-catagories li a i {
    margin-right: 5px;
  }
  .single-widget-area .crose-catagories li:last-child a {
    margin-bottom: 0;
  }
  
  .sermons-cata {
    margin-bottom: 15px;
  }
  .sermons-cata a {
    color: #959595;
    display: inline-block;
    margin-right: 20px;
  }
  .sermons-cata a:hover {
    color: rgb(44, 2, 44);
  }
  
  @media only screen and (max-width: 767px) {
  .share {
      margin-top: 30px;
    }
  }
  .share span,
  .share a {
    color: #959595;
    padding: 0 10px;
    font-size: 14px;
  }
  .share span:hover,
  .share span:focus,
  .share a:hover,
  .share a:focus {
    color: rgb(44, 2, 44);
  }
  @media only screen and (max-width: 767px) {
  .share span,
  .share a {
      padding: 0 5px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-post-details-area .post-content .post-title {
      font-size: 30px;
    }
  }
  @media only screen and (max-width: 767px) {
    .single-post-details-area .post-content .post-title {
      font-size: 24px;
    }
  }
  .single-post-details-area .post-content .post-meta {
    position: relative;
    margin-bottom: 30px;
  }
  .single-post-details-area .post-content .post-meta a {
    display: inline-block;
    font-size: 14px;
    color: #1f1f2c;
    margin-right: 15px;
  }
  .single-post-details-area .post-content .post-meta a:first-child {
    font-style: italic;
  }
  .single-post-details-area .post-content .post-meta a span,
  .single-post-details-area .post-content .post-meta a i {
    color: #959595;
    margin-left: 3px;
  }
  .single-post-details-area .post-content .post-meta a:hover {
    color: rgb(44, 2, 44);
  }
  .single-post-details-area .post-content p {
    font-size: 16px;
    color: #636363;
  }
  .single-post-details-area .post-content blockquote {
    position: relative;
    padding: 0 30px;
    border-left: 2px solid rgb(44, 2, 44);
    margin: 25px 0;
  }
  .single-post-details-area .post-content blockquote .blockquote-text h6 {
    font-weight: 600;
    line-height: 1.9;
  }
  .single-post-details-area .post-content blockquote .blockquote-text h6 span {
    color: #959595;
  }
  .single-post-details-area
    .post-content
    blockquote
    .blockquote-text
    h6:first-child {
    font-style: italic;
    margin-bottom: 15px;
  }
  .single-post-details-area
    .post-content
    blockquote
    .blockquote-text
    h6:last-child {
    line-height: 1.2;
    margin-bottom: 0;
  }
  
  /* :: 18.0 Comment Area */
  .comment_area {
    position: relative;
  }
  .comment_area .headline {
    margin-bottom: 30px;
    font-weight: 600;
  }
  .comment_area .single_comment_area {
    position: relative;
  }
  .comment_area .single_comment_area::after {
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #ebebeb;
    left: 100px;
    top: 0;
    content: "";
  }
  @media only screen and (max-width: 767px) {
    .comment_area .single_comment_area::after {
      display: none;
    }
  }
  .comment_area .single_comment_area .comment-wrapper {
    margin-bottom: 30px;
  }
  .comment_area .single_comment_area .comment-wrapper .comment-author {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 60px;
  }
  @media only screen and (max-width: 767px) {
    .comment_area .single_comment_area .comment-wrapper .comment-author {
      margin-right: 20px;
    }
  }
  .comment_area .single_comment_area .comment-wrapper .comment-author img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .comment_area .single_comment_area .comment-wrapper .comment-content {
    -webkit-box-flex: 0;
    -ms-flex: 1;
    flex: 1;
  }
  .comment_area
    .single_comment_area
    .comment-wrapper
    .comment-content
    .comment-date {
    font-size: 14px;
    text-transform: capitalize;
    color: #959595;
    font-style: italic;
  }
  .comment_area .single_comment_area .comment-wrapper .comment-content h5 {
    font-size: 18px;
    margin: 5px 0;
  }
  .comment_area .single_comment_area .comment-wrapper .comment-content p {
    font-size: 16px;
  }
  .comment_area .single_comment_area .comment-wrapper .comment-content a {
    min-width: 80px;
    height: 30px;
    border: 1px solid #ebebeb;
    line-height: 28px;
    font-size: 12px;
    text-align: center;
    color: rgb(44, 2, 44);
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    font-weight: 700;
  }
  .comment_area .single_comment_area .comment-wrapper .comment-content a:hover {
    border-color: rgb(44, 2, 44);
    color: #ffffff;
    background-color: rgb(44, 2, 44);
  }
  
  .single_comment_area ol li.single_comment_area {
    margin-left: 130px;
  }
  .single_comment_area ol li.single_comment_area::after {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .single_comment_area ol li.single_comment_area {
      margin-left: 40px;
    }
  }
  .single_comment_area
    ol
    li.single_comment_area
    .comment-wrapper
    .comment-author {
    margin-right: 30px;
  }
  @media only screen and (max-width: 767px) {
    .single_comment_area
      ol
      li.single_comment_area
      .comment-wrapper
      .comment-author {
      margin-right: 15px;
    }
  }
