.top-header-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  transition-timing-function: ease-in;
  transition: all 1s;
  background-color: #f3f3f3;
}

/* .navContainer { */
.header-area {
  position: fixed;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 1s;
  width: 100%;
}

.top-header {
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative !important;
  height: 50px;
  width: 82%;
  color: #959595;
}

.top-header span {
  color: #959595;
  font-size: 15px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.top-header i {
  padding: 0px 5px;
  color: #959595 !important;
}

.top-header-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Top-Header-Area-Con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* z-index: ; */
  background-color: white;
  box-shadow: 1px 2px 2px 3px rgba(37, 37, 37, 0.16);
  padding: 20px 0;
}

.nav__black {
  top: 0;
  height: initial;
  position: fixed;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 1s;
  box-shadow: 1px 2px 3px 30px rgba(37, 37, 37, 0.16);
}

.Top-Header-Area {
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavRignt img {
  width: 50px;
  border-radius: 50px;
}

.NavCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  /* height: ; */
}

.NavCenter ul {
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 30px;
  height: fit-content;
  text-align: center;
}

.NavCenter ul li {
  width: 100%;
  text-align: center;
}

.NavCenter ul li a {
  font-size: 15px;
  font-weight: 700;
  color: black;
  /* display: inline-block; */
  /* margin-right: 30px; */
}

.active {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: tomato !important;
  display: inline-block !important;
  /* margin-right: 30px !important; */
}

.NavLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.NavLeft .Donate .DonateButton {
  cursor: pointer;
  color: white !important;
  font-weight: 700;
  transition-duration: 500ms;
  outline: none;
  font-size: 14px;
  position: relative;
  z-index: 1;
  min-width: 150px;
  height: 46px;
  background-color: rgb(44, 2, 44);
  border-radius: 3px;
  padding: 0, 30px;
  line-height: 46px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border: 1px solid transparent;
}

.responsive {
  display: none;
}

.mainNav {
  display: flex;
}

.searchSystem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .mainNav {
    display: none;
  }

  .responsive {
    display: flex;
  }

  .top-header-con {
    display: none;
  }
  .NavRight {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .responsiveNavCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .NavCenter ul {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .NavCenter ul li {
    text-align: right;
    padding: 0px 10px 0px 0px;
  }

  .NavCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    position: absolute;
    transition: all ease-in-out 1.5s;
    top: 75px;
  }

  .NavLeft {
    align-items: flex-start;
    width: 100%;
    padding: 0px 10px 10px 0px;
  }

  .respoIcon {
    width: 100%;
    text-align: end;
  }

  .respoIcon i {
    font-size: 40px;
    font-weight: 900;
  }

  /* .responsive {
    align-items: flex-start;
  } */
}
